In [1]:
import csv
open_file = open("student data.csv", mode="r")
open_file

In [2]:
read = csv.reader(open_file)
read

In [3]:
data = list(read)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [4]:
header = data[0]
header

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [5]:
student_data = data[1:]
student_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [6]:
student_data[0][3]

'23'

In [7]:
phy_marks = [float(i[3]) for i in student_data]
phy_marks

[23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 55.0,
 61.0,
 88.0,
 56.0,
 89.0,
 45.0,
 92.0,
 36.0,
 78.0,
 56.0,
 78.0,
 89.0,
 56.0,
 33.0,
 78.0,
 45.0]

In [8]:
average_phy_marks = sum(phy_marks)/len(phy_marks)
average_phy_marks

65.06

In [9]:
maths_marks = [float(i[4]) for i in student_data]
maths_marks

[87.0,
 88.0,
 89.0,
 90.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 78.0,
 45.0,
 46.0,
 89.0,
 78.0,
 56.0,
 78.0,
 54.0,
 78.0,
 46.0,
 79.0,
 46.0,
 45.0,
 56.0]

In [10]:
average_math_marks = sum(maths_marks)/len(maths_marks)
average_math_marks

77.36

In [29]:
chem_marks = [float(i[2]) for i in student_data]
chem_marks

[50.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 83.0]

In [12]:
average_chem_marks = sum(chem_marks)/len(chem_marks)
average_chem_marks

68.42

In [13]:
for marks in student_data:
    phy = float(marks[3])
    maths = float(marks[4])
    chem = float(marks[2])
    total_marks = chem+phy+maths
    marks.append(total_marks)

In [14]:
for percent in student_data:
    phy = float(percent[3])
    maths = float(percent[4])
    chem = float(percent[2])
    percentage = round((chem+phy+maths)/300*100,2)
    percent_with_sign = f"{percentage}%"
    percent.append(percent_with_sign)

In [15]:
for percent in student_data:
    phy = float(percent[3])
    maths = float(percent[4])
    chem = float(percent[2])
    percentage = round((chem+phy+maths)/300*100,2)
    percent_with_sign = f"{percentage}%"
    if percentage >= 80:
        percent.append("A")
    elif percentage >= 70:
        percent.append("B")
    elif percentage >= 60:
        percent.append("C")
    elif percentage >= 50:
        percent.append("D")
    else:
        percent.append("FAILED")

In [16]:
student_data

[['101', 'Aliza', '50', '23', '87', 160.0, '53.33%', 'D'],
 ['102', 'Fareed', '45', '24', '88', 157.0, '52.33%', 'D'],
 ['103', 'Basit', '46', '25', '89', 160.0, '53.33%', 'D'],
 ['104', 'Abdullah', '47', '26', '90', 163.0, '54.33%', 'D'],
 ['105', 'Ali', '48', '27', '67', 142.0, '47.33%', 'FAILED'],
 ['106', 'Mubashir', '49', '28', '68', 145.0, '48.33%', 'FAILED'],
 ['107', 'Waleed', '50', '29', '69', 148.0, '49.33%', 'FAILED'],
 ['108', 'Mansoor', '51', '30', '70', 151.0, '50.33%', 'D'],
 ['109', 'Zain', '52', '31', '71', 154.0, '51.33%', 'D'],
 ['110', 'Mohsin', '53', '67', '72', 192.0, '64.0%', 'C'],
 ['111', 'Shahmeer', '54', '68', '73', 195.0, '65.0%', 'C'],
 ['112', 'Rao', '55', '69', '74', 198.0, '66.0%', 'C'],
 ['113', 'Aurangzeb', '56', '70', '75', 201.0, '67.0%', 'C'],
 ['114', 'Zeeshan', '57', '71', '76', 204.0, '68.0%', 'C'],
 ['115', 'Hamna', '58', '72', '77', 207.0, '69.0%', 'C'],
 ['116', 'Hamza', '59', '73', '78', 210.0, '70.0%', 'B'],
 ['117', 'Khalid', '60', '74', '79', 213.0, '71.0%', 'B'],
 ['118', 'Behroz', '61', '75', '80', 216.0, '72.0%', 'B'],
 ['119', 'Justin', '62', '76', '81', 219.0, '73.0%', 'B'],
 ['120', 'Danish', '63', '77', '82', 222.0, '74.0%', 'B'],
 ['121', 'Kainat', '64', '78', '83', 225.0, '75.0%', 'B'],
 ['122', 'Sameer', '65', '79', '84', 228.0, '76.0%', 'B'],
 ['123', 'Raza', '66', '80', '85', 231.0, '77.0%', 'B'],
 ['124', 'Kumar', '67', '81', '86', 234.0, '78.0%', 'B'],
 ['125', 'Komal', '68', '82', '87', 237.0, '79.0%', 'B'],
 ['126', 'Erum', '69', '83', '88', 240.0, '80.0%', 'A'],
 ['127', 'Faiza', '70', '84', '89', 243.0, '81.0%', 'A'],
 ['128', 'Saeed', '71', '85', '90', 246.0, '82.0%', 'A'],
 ['129', 'Waqar', '72', '86', '91', 249.0, '83.0%', 'A'],
 ['130', 'Wali', '73', '87', '92', 252.0, '84.0%', 'A'],
 ['131', 'Wajid', '74', '88', '93', 255.0, '85.0%', 'A'],
 ['132', 'Waseeb', '75', '89', '94', 258.0, '86.0%', 'A'],
 ['133', 'Shiza', '76', '90', '95', 261.0, '87.0%', 'A'],
 ['134', 'Shabina', '77', '91', '96', 264.0, '88.0%', 'A'],
 ['135', 'Shazain', '78', '55', '97', 230.0, '76.67%', 'B'],
 ['136', 'Lubna', '79', '61', '98', 238.0, '79.33%', 'B'],
 ['137', 'Laiba', '80', '88', '78', 246.0, '82.0%', 'A'],
 ['138', 'Khursheed', '81', '56', '45', 182.0, '60.67%', 'C'],
 ['139', 'Ali', '82', '89', '46', 217.0, '72.33%', 'B'],
 ['140', 'Aiza', '83', '45', '89', 217.0, '72.33%', 'B'],
 ['141', 'Aiman', '84', '92', '78', 254.0, '84.67%', 'A'],
 ['142', 'Yasmeen', '85', '36', '56', 177.0, '59.0%', 'D'],
 ['143', 'Tasbeel', '86', '78', '78', 242.0, '80.67%', 'A'],
 ['144', 'Laraib', '87', '56', '54', 197.0, '65.67%', 'C'],
 ['145', 'Saleem', '88', '78', '78', 244.0, '81.33%', 'A'],
 ['146', 'Bismil', '89', '89', '46', 224.0, '74.67%', 'B'],
 ['147', 'Batool', '90', '56', '79', 225.0, '75.0%', 'B'],
 ['148', 'Iqra', '91', '33', '46', 170.0, '56.67%', 'D'],
 ['149', 'Zarnish', '92', '78', '45', 215.0, '71.67%', 'B'],
 ['150', 'Zara', '83', '45', '56', 184.0, '61.33%', 'C']]

In [17]:
data[0].append("Total Marks")
data[0].append("Percentage")
data[0].append("Grade")

In [18]:
data

[['roll no',
  'Name',
  'Chemistry',
  'Physics',
  'Math',
  'Total Marks',
  'Percentage',
  'Grade'],
 ['101', 'Aliza', '50', '23', '87', 160.0, '53.33%', 'D'],
 ['102', 'Fareed', '45', '24', '88', 157.0, '52.33%', 'D'],
 ['103', 'Basit', '46', '25', '89', 160.0, '53.33%', 'D'],
 ['104', 'Abdullah', '47', '26', '90', 163.0, '54.33%', 'D'],
 ['105', 'Ali', '48', '27', '67', 142.0, '47.33%', 'FAILED'],
 ['106', 'Mubashir', '49', '28', '68', 145.0, '48.33%', 'FAILED'],
 ['107', 'Waleed', '50', '29', '69', 148.0, '49.33%', 'FAILED'],
 ['108', 'Mansoor', '51', '30', '70', 151.0, '50.33%', 'D'],
 ['109', 'Zain', '52', '31', '71', 154.0, '51.33%', 'D'],
 ['110', 'Mohsin', '53', '67', '72', 192.0, '64.0%', 'C'],
 ['111', 'Shahmeer', '54', '68', '73', 195.0, '65.0%', 'C'],
 ['112', 'Rao', '55', '69', '74', 198.0, '66.0%', 'C'],
 ['113', 'Aurangzeb', '56', '70', '75', 201.0, '67.0%', 'C'],
 ['114', 'Zeeshan', '57', '71', '76', 204.0, '68.0%', 'C'],
 ['115', 'Hamna', '58', '72', '77', 207.0, '69.0%', 'C'],
 ['116', 'Hamza', '59', '73', '78', 210.0, '70.0%', 'B'],
 ['117', 'Khalid', '60', '74', '79', 213.0, '71.0%', 'B'],
 ['118', 'Behroz', '61', '75', '80', 216.0, '72.0%', 'B'],
 ['119', 'Justin', '62', '76', '81', 219.0, '73.0%', 'B'],
 ['120', 'Danish', '63', '77', '82', 222.0, '74.0%', 'B'],
 ['121', 'Kainat', '64', '78', '83', 225.0, '75.0%', 'B'],
 ['122', 'Sameer', '65', '79', '84', 228.0, '76.0%', 'B'],
 ['123', 'Raza', '66', '80', '85', 231.0, '77.0%', 'B'],
 ['124', 'Kumar', '67', '81', '86', 234.0, '78.0%', 'B'],
 ['125', 'Komal', '68', '82', '87', 237.0, '79.0%', 'B'],
 ['126', 'Erum', '69', '83', '88', 240.0, '80.0%', 'A'],
 ['127', 'Faiza', '70', '84', '89', 243.0, '81.0%', 'A'],
 ['128', 'Saeed', '71', '85', '90', 246.0, '82.0%', 'A'],
 ['129', 'Waqar', '72', '86', '91', 249.0, '83.0%', 'A'],
 ['130', 'Wali', '73', '87', '92', 252.0, '84.0%', 'A'],
 ['131', 'Wajid', '74', '88', '93', 255.0, '85.0%', 'A'],
 ['132', 'Waseeb', '75', '89', '94', 258.0, '86.0%', 'A'],
 ['133', 'Shiza', '76', '90', '95', 261.0, '87.0%', 'A'],
 ['134', 'Shabina', '77', '91', '96', 264.0, '88.0%', 'A'],
 ['135', 'Shazain', '78', '55', '97', 230.0, '76.67%', 'B'],
 ['136', 'Lubna', '79', '61', '98', 238.0, '79.33%', 'B'],
 ['137', 'Laiba', '80', '88', '78', 246.0, '82.0%', 'A'],
 ['138', 'Khursheed', '81', '56', '45', 182.0, '60.67%', 'C'],
 ['139', 'Ali', '82', '89', '46', 217.0, '72.33%', 'B'],
 ['140', 'Aiza', '83', '45', '89', 217.0, '72.33%', 'B'],
 ['141', 'Aiman', '84', '92', '78', 254.0, '84.67%', 'A'],
 ['142', 'Yasmeen', '85', '36', '56', 177.0, '59.0%', 'D'],
 ['143', 'Tasbeel', '86', '78', '78', 242.0, '80.67%', 'A'],
 ['144', 'Laraib', '87', '56', '54', 197.0, '65.67%', 'C'],
 ['145', 'Saleem', '88', '78', '78', 244.0, '81.33%', 'A'],
 ['146', 'Bismil', '89', '89', '46', 224.0, '74.67%', 'B'],
 ['147', 'Batool', '90', '56', '79', 225.0, '75.0%', 'B'],
 ['148', 'Iqra', '91', '33', '46', 170.0, '56.67%', 'D'],
 ['149', 'Zarnish', '92', '78', '45', 215.0, '71.67%', 'B'],
 ['150', 'Zara', '83', '45', '56', 184.0, '61.33%', 'C']]

In [46]:
#student who gets max marks
marks = [int(i[5]) for i in student_data]
max_marks = max(marks)

top_student = [i[1] for i in student_data if int(i[5]) == max_marks]
print(f"{top_student} have maximum marks {max_marks}")

['Shabina'] have maximum marks 264

In [48]:
#student who gets min marks
marks = [int(i[5]) for i in student_data]
min_marks = min(marks)

top_student = [i[1] for i in student_data if int(i[5]) == min_marks]
print(f"{top_student} have minimum marks {min_marks}")

['Ali'] have minimum marks 142

In [20]:
open_file = open("StudentMarks.csv",mode="w",newline="")
open_file

In [21]:
writer = csv.writer(open_file)
writer

In [22]:
writer.writerows(data)

In [23]:
open_file.close()